
html {
  background-color: darkgrey;
}

mat-card {
  width: 20rem;
  background-color: gray;
}

mat-grid-tile {
  border: 2px solid lightgrey;
}

.internal-grid {
  min-width: 100%;
}

.shopping-card {
  height:90%;
}

.std-viewport {
  height: 325px;
  width: 100%;
}

.center-viewport {
  text-align: center;
}

.example-item {
  height: 50px;
}

// Create recipe
.search-recipe-item {
  width: 100%;
  padding: 5px;
}

.recipe-item-list {
  padding: 5px 0 0px 23%;
}

.item-viewport {
  height: 100px;
}


#recipe-item-check {
  height: 35px;
}
